<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Videostar</title>
    
    <link rel="stylesheet" href="/assets/css/reset.css"/>
    <link rel="stylesheet" href="/assets/css/text.css"/>
    <link rel="stylesheet" href="/assets/css/960.css"/>
    <link rel="stylesheet" href="/assets/css/jHtmlArea.css"/>
    
    <script type="text/javascript" src="/assets/scripts/jquery.js"></script>
    <script type="text/javascript" src="/assets/scripts/jquery-json.js"></script>
    <script type="text/javascript" src="/assets/scripts/jquery-ui.js"></script>
    <script type="text/javascript" src="/assets/scripts/jHtmlArea.js"></script>
    <script type="text/javascript" src="/assets/scripts/swfobject.js"></script>
    
    <script type="text/javascript">
			
    </script>
  </head>
  
  <body>
    <div id="header">
      <h1>Title</h1>
    </div>
    
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>